*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
	transition: all 5s;
}
/*头部*/
.wrap{
	width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.banner {
    position: relative;
    z-index: -10;
    top: -76px;
}
.mid .bann {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    z-index: -10;
}
.header {
    height: 76px;
    width: 100%;
    z-index: 999;
}
/*.nav ul .mainlevel {
    float: left;
    padding-left: 2px;
    line-height: 70px;
}*/
.mid {
    width: 100%;
    height: 680px;
    overflow: hidden;
    background: url(img/png.png) repeat scroll top left;
}
.top {
    padding: 0 40px;
    margin: 0 auto;
}
.logo {
    position: absolute;
    top: 9px;
    float: left;
    color: white;
}
.logo img{
	    max-height: 50px;
    width: auto;

}
.nav {
    float: right;
    padding-top: 5px;
}
.nav ul {
	width: 90%;
    display: table;
    text-align: right;
}
ul, li {
    list-style: none;
}
.nav ul li{
	width: 12%;
	height: 31px;
	text-align: center;
    font-size: 18px;
    line-height: 31px;
    padding:20px 12px;
    color: white;
    display: inline-block;
}
.nav ul li a{
	width: 34px;
	height: 31px;
	display:-webkit-box;
	/*margin: 10px 10px 0px 10px;*/
	text-decoration: none;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #fff;
}
.nav ul li:hover a{
	color: #FF5100;
}

/*公用*/
.gong{
	width: 80%;
	height: auto;
	margin: 0  auto;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 20px;
} 
.gong h1{
	width: 100%;
	height: 47px;
	line-height: 47px;
	font-size:36px;
	font-weight:normal;
	font-style:normal;
	color:#000000;
}
.gong .glyphicon{
	margin-top: 5px;
}
.gong h3{
	height: auto;
	margin: 0 auto;
	font-size: 16px;
	overflow: hidden;
}
.gong span{
	width: 50px;
	height: 2px;
	display: -webkit-inline-box;
	background: #DDDDDD;
	margin: 8px;
}
.gong h1{
	margin: 8px 0px 25px 0px;
}
.gong p{
	width:100%;
	height: auto;
	margin: 0 auto;
	line-height: 30px;
	margin-bottom: 25px;
	color: rgb(102, 102, 102);
}
/*产品介绍*/
.Product{
    width: 100%;
    height: auto;
    background: #F1F1F1;
    margin-top: -80px;
    text-align: center;
}
.Product-img img{
	width: 80%;
	height: 363px;
}
.Product p{
	font-size: 14px;
	line-height: 25px;
	margin-top: 30px;
}
/*模板功能*/
.template{
	width: 100%;
	height: auto;
	background: #FFFFFF;
	transition: all 1s;
}
.template:hover#top-ding.gongneng{
	background: red;
}
.gong1 span{
	width: 100px;
	height: 1px;
	display: -webkit-inline-box;
	background: #D8D8D8;
}
.gong1 p{
	margin-top: 10px;
}
.moban{
	width: 100%;
	height: auto;
    padding:0 40px;
    text-align: center;
    display: flex;

flex-direction: row;

justify-content: space-around;
}

.mb{
    float:left;
    width:310px;
    height:74px;
    margin:20px 10px 30px 10px;
     
}
.mb_iinfo>.header_image{
    float:left;
    padding:2px;
    border-width:1px;
    border-style:solid;
    border-color:#b5b5b5;
    border-radius:50px;
    color:#b5b5b5;
    font-size:36px;
    width:68px;height:68px;
}
.header_image:hover{
    border-color:#2d2d2d;
    transition: all ease .6s;

}
.mb_iinfo:hover #iii{
	color:#2d2d2d;
    transition: all ease .6s;
}
#iii:hover{
   color:#2d2d2d;
    transition: all ease .6s;
}
#iii{
    height: 68px;
    width: 68px;
    position: absolute;
    left: 0;
    top: 0;;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    /*line-height: 60px;*/
}
.rrght{
    float:left;
    margin-left: 0px;;
}
.rrght h4{
    color:black;
    font-weight: bolder;
}
.rrght p{
    line-height: 30px;
    color:#8e8e8e;
}
/*关于我们*/
.About{
	width: 100%;
	height: auto;
	background: #1B1615;
	padding-top: 120px;
	box-sizing: border-box;
	opacity: 0.85;
	position: relative;
	color: white;
	background: url(img/guanyu.jpg) repeat scroll top left;
	background-attachment: fixed;
	background-position: 0,0;
	background-color: #000000;
}
.gong3 p{
	margin-top: 40px;
}
.gong3 h5{
	display: block;
	margin-top: 40px;
}
.gong3 h1{
	color: white;
	margin-top: 40px;
}
/*我们的团队*/
.Our{
	width: 100%;
    height:auto;
    /*overflow: hidden;*/
	background: white;
	padding-top:  20px;
	box-sizing: border-box;
	opacity: 0.8;
	color: black;
}
.Our h1{
	color: black;
}
.tuandui{
	padding:0 70px;
	margin: 0 auto;
    margin-top: 50px;
}
#lunbo {
			width: 95%;
			height: 400px;
			overflow: hidden;
			margin: 100px auto;
			position: relative;
			box-sizing: border-box;
            overflow:hidden;
		}
		
		#lunboCon {
			width: 2410px;
			height: 100%;
			font-size: 0;
			text-align: left;
			position: absolute;
			box-sizing: border-box;
            overflow:hidden;
		}
		button {
			width: 32px;
			height: 32px;
			background-color: #FF5100;
			position: absolute;
			font-size: 35px;
			margin-top: -25px;
			outline: none;
			border: none;
			border-radius:5px ;
		}
		
		#btnL {
			left: 0;
			top: 50%;
			color: white;
			font-size: 20px;
		}
		
		#btnR {
			right: 0;
			top: 50%;
			color: white;
			font-size: 20px;
		}
		
.our_list img{
	width: 100%;
	height: 100%;
}
.our_list{
    float:left;
    width:280px;
    height:auto;
    margin:0 10px;
    color: #808080;
    margin-bottom: 100px;;
}
.our_list>i{
    width:280px;
    height:300px;
}
.our_list h3{
	font-weight: 700;
	color: black;
}
.our_list h6{
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
}
.our_list p{
	font-size: 12px;
	line-height: 20px;
}
/*项目展示*/
.Projects{
	width: 100%;
	opacity: 0.8;
	position: relative;
	color: white;
	background: url(img/guanyu.jpg) repeat scroll top left;
	background-attachment: fixed;
	background-position: 0,0;
	background-color: #000000;
}
.zhan{
	width: 90%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;;
}
.gong6 p{
	color: rgb(102, 102, 102);
	margin-top: 15px;
}
/*我们的服务*/
.Services{
	width: 100%;
	height: 700px;
	background: white;
}
.fuwu{
	width: 90%;
	height: auto;
	margin: 100px auto;
}
.fw-ajax{
	width:25%;
	float: left;
	height: 211px;
	padding: 15px;
	box-sizing: border-box;
	font-size:18px;
	color:#9e9e9e;
}
.fw-ajax h4{
	line-height: 60px;
}
.fw-ajax p{
	font-size:14px;
	color: rgb(102, 102, 102);
	line-height: 26px;
	color:#9e9e9e;
}
.fw-iA{
	width: 48px;
	height: 45px;
	font-size: 36px;
	text-align: center;
	margin: auto;
}
.fw-iii{
	width: 48px;
	height: 45px;
}



#top-ding{
	width: 100%;
	height:auto;
	background: black;
	text-align: center;
	opacity: 0.6;
	padding:0px 50px 0px 50px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
	transform: auto;
	transition: all  1s ease 1s; 
}
#top-ding img{
	width: 63px;
	height: 32px;
}
#top-ding .nav {
    float: right;
    padding-top: 5px;
}
#top-ding .nav ul{
	height: 100%;
}
#top-ding .nav ul li{
	height: 48px;
	line-height: 100%;
	width: 10%;
	margin-right: 10px;
	text-align: center;
	transition: all 1s;
}
#top-ding .nav ul li a{
	text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}
#top-ding .nav ul li:hover a{
	color: #FF5100;
}
#top-ding .nav ul li:hover{
	border-bottom: 2px solid #FF5100;
}
.right_nav_bar {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10001;
    list-style: outside none none;
    width: 54px;
    background: #333333;
    color: white;
}
.right_nav_bar li {
    position: relative;
    list-style: outside none none;
    float: left;
    height: 54px;
    width: 54px;
}
.right_nav_bar .icons {
    height: 54px;
    width: 54px;
    float: left;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    z-index: 999;
}
#ding {
    height: 54px;
    width: 54px;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
}
#ding:hover{
	background: #FF5100 ;
}
.weixin-icon span{
	display: block;
	width: 100px;
	height: 100px;
    margin-left: -120px;
    z-index: 9999;
}
.weixin-icon span img{
	width: 100px;
	height: 100px;
	/*position: absolute;
	top: 0;
	left: 0;*/
	z-index: 999;
}




#qwer{
	width: 100%;
	height: 400px;
	margin: 50px auto;
		}
.qwer-li{
	width: 400px;
	margin: 30px auto;
	text-align: center;
    overflow:hidden;
}
.qwer-li li{
	width: 127px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	border-radius: 10px;
	margin-left: 5px;
	cursor: pointer;
	list-style: none;
}
		.box1{
			font-weight: 600;
		}
		#qwer .box{
			width: 100%;
			height: 400px;
			display: none;
            overflow:hidden;
		}
.box img{
	width: 298px;
	height: 182px;
	margin: 10px 2px;
}
.sel{
    width:100px;
}
.sel option,.sel{
    z-index: 999;
    color:#fff;
    background:#666;
}
.list111{
    margin-top: 30px;;
}
.li{
    width:70%;
    line-height: 24px;;
    margin:auto;
}
.li a{
    float: left;
    color:#fff;
}
.li time{
    float:right;
}

